body {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
}

#level-title {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  margin:  2%;
  color: #FEF2BF;
  display: flex;
  flex-direction: column;
  top: 5px;
  left: 40px;
}


#logo{
  width: 200px;
  height: 70px;
  margin: 0;
  padding: 0;
  position: relative;
  float: right; 
  /* display: flex; */
  /* flex-direction: column; */
  top: -90px;
  right: 90px;
}

#logo img{
  height: 150px;
  width: 270px;
  position: relative;
  padding-right: 0px;
  left: 0px;
}

#logo1{
  width: 125px;
  height: 100px;
  position: relative;
  float: left;
  top: -10px;
}

#logo1 img{
  height: 150px;
  width: 160px;
  padding-left: 25px;
}


#simon-heading {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #FEF2BF;
  top: 0px;
  left: -40px;
}

.container {
  position: relative;
  top: 20px;
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 190px;
  width: 190px;
  border: 10px solid white;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.lifeline{
  position: absolute;
  bottom: 10px;
  width: 150px;
  right: 8%;
}
.heart{
  position: relative;
  background: url(heart.png);
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  display: inline-block;
  margin-right: 9px;
}

.rstbtn{
  font-size: 20px;
  background: black;
  color: white;
  border: 1px solid black;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #FEF2BF;
  }